fastapi==0.141.1
Pillow==12.3.0
protobuf==7.36.0
pytesseract==0.3.13
python-dotenv==1.2.3
python_whois==0.9.6
pyzbar==0.1.9
Requests==2.34.2
uvicorn==0.52.4
Jinja2==3.1.6
google==3.0.0
google-auth==2.57.0
google-genai==2.20.0
